<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
          crossorigin="anonymous">
</head>
<body>
<!--<div class="container-fluid">-->
<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark " th:each="name : ${owner}">
        <div class="row">
            <div class="example-content-main mr-2" style="color: white">
                <h3 th:text="${name.getEmail()}"></h3>
            </div>

            <div style="color: white" class="mr-2">
                <h3><small> with roles: </small></h3>
            </div>
            <div style="color: white">
                <h3 th:text="${owner.getAuthorities()}"></h3>
            </div>
        </div>
        <div class="col">
            <a class="close logout-container top-0 align-items-end offset-md-9" style="color: gray" href="/logout">
                Logout </a>
        </div>
    </nav>
</div>

<div style="display: flex">
    <!--Левый блок-->

    <div style=" width: 15%; height: 100%">
        <div style="flex: auto">
            <div class="row">
                <div class="nav flex-column nav-pills w-100" id="v-pills-tab" role="tablist"
                     aria-orientation="vertical">

                    <form action="/admin/allusers">
                        <button type="submit" role="tab" class="nav-link active"
                                style="display: flex; place-content: center; width: 220px"
                                aria-pressed="true" aria-current="page" aria-selected="false">Admin
                        </button>
                    </form>

                    <form action="/admin/userpage">
                        <input type="hidden" name="id" th:value="${owner.id}">
                        <button type="submit" role="tab" class="nav-link"
                                style="display: flex; place-content: center; width: 220px"
                                aria-pressed="true" aria-current="page" aria-selected="true">User
                        </button>
                    </form>

                </div>
            </div>
        </div>

    </div>
    <div style="width: 85%; background-color: aliceblue; height: 100vh">
        <!--Правый блок-->

        <div style="float: right; width: 100%; height: 100%">

            <h1>Admin panel</h1>

            <ul class="nav nav-tabs">
                <li class="nav-item active-table-tab">
                    <a class="nav-link active" aria-current="page" href="/admin/allusers">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/admin/user/new">New User</a>
                </li>
            </ul>


            <table class="table table-striped table-hover shadow p-3 mb-5 bg-white rounded" style="width: 1200px">
                <thead>
                <div class="nav nav-tabs">
                    <h4 class="col align-self-center"><strong>All users</strong></h4>
                </div>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                    <th scope="col">U/page</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${get_user}">
                    <th scope="row" th:text="${user.id}"></th>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.age}"></td>
                    <td th:text="${user.email}"></td>
                    <td>
                        <ul>
                            <li th:text="${user.getAuthorities()}"></li>
                        </ul>
                    </td>


                    <td>
                        <div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    th:attr="data-bs-target=${'#editModal'+ user.id}">
                                Edit
                            </button>
                        </div>

                        <!-- Модальное окно Edit -->

                        <div class="modal fade overflow-auto" tabindex="-1" th:id="'editModal' + ${user.getId()}"
                             aria-labelledby="editModalLabel"
                             aria-hidden="true" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Edit user</h5>
                                        <button class="close" type="button" data-bs-dismiss="modal">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body d-flex flex-column align-items-center justify-content-center">
                                        <form th:action="@{/admin/user/edit}" method="post">
                                            <input type="hidden" th:value="${user.id}" name="id">
                                            <div class="form-group row justify-content-sm-center">
                                                <label for="name" class="col-form-label"><strong>Name</strong></label>
                                                <input type="text" class="form-control" id="name"
                                                       th:value="${user.name}"
                                                       placeholder="Enter name" name="name" required>
                                            </div>

                                            <div class="form-group row justify-content-sm-center">
                                                <label for="lastName"
                                                       class="col-form-label"><strong>Lastname</strong></label>
                                                <input type="text" class="form-control" id="lastName"
                                                       th:value="${user.lastName}"
                                                       placeholder="Enter lastname" name="lastName" required>
                                            </div>
                                            <div class="form-group row justify-content-sm-center">
                                                <label for="age" class="col-form-label"><strong>Age</strong></label>
                                                <input type="number" class="form-control" id="age"
                                                       th:value="${user.age}"
                                                       placeholder="Enter age" name="age" required>
                                            </div>

                                            <div class="form-group row justify-content-sm-center">
                                                <label for="email" class="col-form-label"><strong>Email</strong></label>
                                                <input type="text" class="form-control" id="email"
                                                       th:value="${user.email}"
                                                       placeholder="Enter email" name="email" required>
                                            </div>

                                            <div class="form-group row justify-content-sm-center">
                                                <label for="pwd"
                                                       class="col-form-label"><strong>Password</strong></label>
                                                <input type="password" class="form-control" id="pwd"
                                                       th:value="${user.password}"
                                                       placeholder="Enter password" name="password" required>
                                            </div>

                                            <p class="form-group row justify-content-sm-center"><strong>Choose
                                                role:</strong>
                                            </p>

                                            <div th:each="role : ${roles}"
                                                 class="form-group row justify-content-sm-center">
                                                <label>
                                                    <input type="checkbox" th:value="${role.id}"
                                                           th:text="${role.role}" name="role" >
                                                </label>

                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    <span aria-hidden="true">Close</span>
                                                </button>
                                                <button type="submit" class="btn btn-primary">Edit</button>
                                            </div>

                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="btn-sm">
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    th:attr="data-bs-target=${'#deleteModal'+ user.id}">
                                Delete
                            </button>
                        </div>

                        <!-- Модальное окно Delete-->

                        <div class="modal fade overflow-auto" tabindex="-1" th:id="'deleteModal' + ${user.getId()}"
                             aria-labelledby="editModalLabel"
                             aria-hidden="true" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Delete user</h5>
                                        <button class="close" type="button" data-bs-dismiss="modal">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body d-flex flex-column align-items-center justify-content-center"
                                         style="display: flex">
                                        <form th:action="@{/admin/user/delete/YES}">
                                            <input type="hidden" th:value="${user.id}" name="id">
                                            <div class="form-group row justify-content-sm-center">
                                                <label for="name2" class="col-form-label"><strong>Name</strong></label>
                                                <input type="text" class="form-control" id="name2"
                                                       th:value="${user.name}"
                                                       placeholder="Enter name" name="name" readonly>
                                            </div>

                                            <div class="form-group row justify-content-sm-center">
                                                <label for="lastName2" class="col-form-label"><strong>Lastname</strong></label>
                                                <input type="text" class="form-control" id="lastName2"
                                                       th:value="${user.lastName}"
                                                       placeholder="Enter lastname" name="lastName" readonly>
                                            </div>
                                            <div class="form-group row justify-content-sm-center">
                                                <label for="age2" class="col-form-label"><strong>Age</strong></label>
                                                <input type="number" class="form-control" id="age2"
                                                       th:value="${user.age}"
                                                       placeholder="Enter age" name="age" readonly>
                                            </div>

                                            <div class="form-group row justify-content-sm-center">
                                                <label for="email2"
                                                       class="col-form-label"><strong>Email</strong></label>
                                                <input type="text" class="form-control" id="email2"
                                                       th:value="${user.email}"
                                                       placeholder="Enter email" name="email" readonly>
                                            </div>


                                            <p class="form-group row justify-content-sm-center"><strong>Role</strong>
                                            </p>
                                            <div class="form-group row justify-content-sm-center">

                                                <label for="roles"></label>
                                                <select id="roles" name="roles" multiple="multiple">
                                                    <option th:text="${user.getAuthorities()}" readonly></option>
                                                </select>

                                            </div>

                                            <div class="modal-footer form-group row justify-content-sm-end">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    <span aria-hidden="true">Close</span>
                                                </button>

                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </div>

                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="btn-sm">
                            <form action="/admin/userpage">
                                <input type="hidden" name="id" th:value="${user.id}">
                                <input type="submit" value="User page" class="btn btn-info">
                            </form>
                        </div>
                    </td>
                </tr>


                </tbody>

            </table>

        </div>


    </div>
</div>


<style>
    .logout-container {
        position: relative;
    }

</style>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
        integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>

</body>
</html>