<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
          crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark " th:each="name : ${owner}">
            <div class="row">
                <div class="example-content-main mr-2" style="color: aliceblue">
                    <h3 th:text="${name.getEmail()}"></h3>
                </div>

                <div style="color: aliceblue" class="mr-2">
                    <h3><small> with roles: </small></h3>
                </div>
                <div style="color: aliceblue">
                    <h3 th:text="${owner.getAuthorities()}"></h3>
                </div>
            </div>
            <div class="col">
                <a class="close logout-container top-0 align-items-end offset-md-9" style="color: gray" href="/logout">
                    Logout </a>
            </div>
        </nav>
    </div>

<div class="container-fluid">
    <!--Левый блок-->

    <div class="container-fluid" style=" background-color: lightslategray">

        <div class="block-left" >
            <div class="container" style="height: inherit">
                <div class="flex-column-reverse">
                    <div class="w-auto"></div>
                    <div class="col col-lg-1" th:each="name : ${owner}">
                        <form class="btn-block">
                        <button class="btn btn-primary btn-lg active" style="display: flex"
                                aria-pressed="true" aria-current="page" href="/admin/allusers">Admin</button>
                        </form>
                        <br>
                        <br>
                        <form action="/admin/userpage">
                            <input type="hidden" name="id" th:value="${name.id}">
                            <button class="btn btn-primary btn-lg" aria-current="page">User</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div>
        <!--Правый блок-->

        <div style="float: right; width: 85%" class="w-90 h-100 d-inline-block">

            <h1>Admin panel</h1>

            <ul class="nav nav-tabs">
                <li class="nav-item active-table-tab">
                    <a class="nav-link active" aria-current="page" href="/admin/allusers">Users table</a>
                </li>
                <li class="nav-item"> <!--nav-link-->
                    <a class="nav-link" aria-current="page" href="/admin/user/new">New User</a>
                </li>
            </ul>


            <div class="col-md-auto container-fluid row justify-content-end">

                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                </div>
            </div>

            <table class="table table-striped table-hover">
                <thead>
                <div class="nav nav-tabs">
                    <h4 class="col align-self-center"><strong>All users</strong></h4>
                </div>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                    <th scope="col">U/page</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${get_user}">
                    <th scope="row" th:text="${user.id}"></th>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.age}"></td>
                    <td th:text="${user.email}"></td>
                    <td>
                        <ul>
                            <li th:text="${user.getAuthorities()}"></li>
                        </ul>
                    </td>


                    <td>
                        <div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    th:attr="data-bs-target=${'#editModal'+ user.id}">
                                Edit
                            </button>
                        </div>
                        <!-- Модальное окно -->
                        <div class="modal fade overflow-auto" tabindex="-1" th:id="'editModal' + ${user.getId()}"
                             aria-labelledby="editModalLabel"
                             aria-hidden="true" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                                        <button class="close" type="button" data-bs-dismiss="modal">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:action="@{/admin/user/edit}" method="post">
                                            <input type="hidden" th:value="${user.id}" name="id">
                                            <div class="form-group">
                                                <label for="name" class="col-form-label">Name</label>
                                                <input type="text" class="form-control" id="name"
                                                       th:value="${user.name}"
                                                       placeholder="Enter name" name="name" required>
                                            </div>

                                            <div class="form-group">
                                                <label for="lastName" class="col-form-label">Lastname</label>
                                                <input type="text" class="form-control" id="lastName"
                                                       th:value="${user.lastName}"
                                                       placeholder="Enter lastname" name="lastName" required>
                                            </div>
                                            <div>
                                                <label for="age" class="col-form-label">Age</label>
                                                <input type="number" class="form-control" id="age"
                                                       th:value="${user.age}"
                                                       placeholder="Enter age" name="age" required>
                                            </div>

                                            <div class="form-group">
                                                <label for="email" class="col-form-label">Email</label>
                                                <input type="text" class="form-control" id="email"
                                                       th:value="${user.email}"
                                                       placeholder="Enter email" name="email" required>
                                            </div>

                                            <div class="form-group">
                                                <label for="pwd" class="col-form-label">Password</label>
                                                <input type="password" class="form-control" id="pwd"
                                                       th:value="${user.password}"
                                                       placeholder="Enter password" name="password" required>
                                            </div>

                                            Choose role:
                                            <br>
                                            <div th:each="role : ${roles}" class="form-group">
                                                <label>
                                                    <input type="checkbox" th:value="${role.id}"
                                                           th:text="${role.role}" name="role">
                                                </label>

                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Закрыть
                                                </button>
                                                <button type="submit" class="btn btn-primary">Сохранить изменения
                                                </button>
                                            </div>

                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="btn-sm">
                            <form action="/admin/user/delete">
                                <input type="hidden" name="id" th:value="${user.id}">
                                <input type="submit" value="Delete" class="btn btn-danger">
                            </form>
                        </div>
                    </td>
                    <td>
                        <div class="btn-sm">
                            <form action="/admin/userpage">
                                <input type="hidden" name="id" th:value="${user.id}">
                                <input type="submit" value="User page" class="btn btn-info">
                            </form>
                        </div>
                    </td>
                </tr>


                </tbody>

            </table>

        </div>


    </div>
</div>
</div>


<style>
    .logout-container {
        position: relative;
    }

    .block-left {
        float: left;
        height: 100%;
        background: aquamarine;

    }

</style>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
        integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>


<!--<script>-->
<!--    $('#editModal').on('show.bs.modal', function (event) {-->
<!--        var button = $(event.relatedTarget) // Кнопка, запускающая модальное окно-->
<!--        var recipient = button.data('user.id') // Извлечь информацию из атрибутов data- *-->
<!--        // При необходимости Вы можете инициировать здесь запрос AJAX (а затем выполнить обновление в обратном вызове).-->
<!--        // Обновите содержимое модального окна. Здесь мы будем использовать jQuery, но вместо этого Вы можете использовать библиотеку привязки данных или другие методы.-->
<!--        if (userId) {-->
<!--            $.get({-->
<!--                url: '/api/admin/user/update',-->
<!--                success: (data) => {-->
<!--                    let modal = $(this)-->
<!--                    modal.find('#user.id').val(data.id)-->
<!--                    modal.find('#user.name').val(data.username)-->
<!--                    modal.find('#user.lastname').val(data.lastName)-->
<!--                    modal.find('#user.password').val(data.password)-->
<!--                },-->
<!--                error: (err) => {-->
<!--                    alert(err);-->
<!--                }-->
<!--            });-->
<!--        }-->
<!--        var modal = $(this)-->
<!--        modal.find('.modal-title').text('New message to ' + recipient)-->
<!--        modal.find('.modal-body input').val(recipient)-->
<!--    })-->
<!--</script>-->
</body>
</html>